<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Avatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,98}</string>
                <key>spriteSourceSize</key>
                <string>{97,98}</string>
                <key>textureRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{0,879},{1920,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{978,879}</string>
                <key>spriteSourceSize</key>
                <string>{978,879}</string>
                <key>textureRect</key>
                <string>{{97,0},{978,879}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{945,548}</string>
                <key>spriteSourceSize</key>
                <string>{945,548}</string>
                <key>textureRect</key>
                <string>{{1075,0},{945,548}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,141}</string>
                <key>spriteSourceSize</key>
                <string>{356,141}</string>
                <key>textureRect</key>
                <string>{{0,1959},{356,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{356,1959},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,43}</string>
                <key>spriteSourceSize</key>
                <string>{160,43}</string>
                <key>textureRect</key>
                <string>{{466,1959},{160,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yhxy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,41}</string>
                <key>spriteSourceSize</key>
                <string>{186,41}</string>
                <key>textureRect</key>
                <string>{{626,1959},{186,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{2020,2100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0456732c6757c2a4c61fcb4a3737648f:c822dc8254ded6a511d3123af2aa4739:70c8faf287b801f42cfa7c57415c1cdf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
